/* Default settings */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

html {
    font-size: 10px;
    font-family: 'Rajdhani', sans-serif;
}
/* Variables */
:root{
    --white: #FFFFFF;
    --black: #000;
    --grey: lightgrey;
    --primary-color:#66C313;
    --primary-color-light:#72C92A;
    --secondary-color: #E93F33;
}

/* Layout */
body {
    display:grid;
    grid: 48px 1fr/ 1fr;
}

/* NavBar */
nav>ul {
    display:grid;
    grid-template-columns: 30px 1fr repeat(3,max-content) 30px 30px;
    /* auto responsive settings deleted */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* place-items: center; */
    align-items: center;
    grid-column-gap: 16px;
    color: var(--white);
    padding:8px;
    font-size: 2rem;
}

nav {
    background-color: var(--primary-color);
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
}

nav>ul>img {
    height: 30px;
    width: 30px;
}


nav>ul>li{
    list-style:none;
    outline: none;
}

nav>ul>li>a{
    text-decoration: none;
    outline: none;
    color: var(--white);
    transition: .5s;
}

nav>ul>li>a:hover{
    color: var(--secondary-color);
    font-size: 2.3rem;
    font-weight: 600;
}

main {
    grid: repeat(4,max-content)/1fr;
}
/* Header */
header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    background-color: var(--primary-color-light);
}

#left {
    display: grid;
    /* grid: repeat(2,30px) 1fr/1fr; */
    grid-gap: 1rem;
    grid-template-rows: 50px 30px 50px;
    place-items: center;
    /* align-items: center; */
    /* align-items: end; */
    margin: auto;
    padding-top: 100px;
}
header>div>h1 {
    font-size: 5rem;
    color: var(--lightgrey);
}

header>div>h2 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 5px;
    color: var(--lightgrey);
}

header>div>a{
    background-color: var(--secondary-color);
    text-decoration: none;
    outline: none;
    color: var(--white);
    transition: .5s;
    font-size: 3rem;
    border: 1px solid var(--white);
    border-radius: 5rem;
    padding: 1rem 2rem;
    margin-top: 5rem;
    
}

header>div>a:hover{
    color: var(--black);
    border: 1px solid var(--black);
    margin-top: 4rem;
    text-shadow: 2px 2px 4px var(--white);

}

#right {
    display: grid;
    /* align-items: center; */
    /* place-items: center; */
    align-self: end;
    justify-self: center;
    position: relative;
    top: 75px;
}

header > p {
    font-size: 2rem;
    color: white;
    padding: 1rem;
    z-index: 100;
}

/* Featured */
#featured{
    margin-top: 20px;
}

#product_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    grid-gap: 20px;
    padding: 20px;
}

.main-title {
    font-size: 5rem;
    text-align: center;
    width: 100%;
    color: var(--primary-color);
}

.product {
    display: grid;
    grid: 50px 1fr / repeat(2,1fr);
    cursor: pointer;
    /* padding:10px; */
    transition: .5s;
    border-radius: 5px;
}

.product:hover{
    background: rgba(34, 34, 34, .3);
}

.product >img {
    height: 344px;
    grid-row: span 1;
    width: 100%;
    grid-column: span 2;
    z-index:-1;
    border-radius: 4px;
}

#discount{
    border: 1px solid var(--black);
    border-radius: 50%;
    display: grid;
    justify-self: end;
    align-self: center;
    place-items: center;
    height: 50px;
    width: 50px; 
    margin: 10px 10px 0 0;
    font-size: 2rem;
    background-color: var(--secondary-color);
    color: var(--white);

}

.title {
    align-self: center;
    margin: 10px 0 0 10px;
}

.title > h1{
    font-size: 2rem;
    color: var(--primary-color);
}

.title > h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--secondary-color);
}

/* Review Section */

#review-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: 200px;
    padding: 20px;
    grid-gap: 20px;
}

.review {
    display: grid;
    grid: 50px 150px  / 200px 1fr;
    column-gap: 20px;
    border: 3px dotted var(--primary-color);
    border-radius: 10px;
    margin: 0 10px;
}

.review>img {
    width: 100%;
    height: 100%; 
    border-radius: 100%;
    border: 1px solid var(--black);
}

.rating {
    display: grid;
    grid-template-columns: 100px repeat(5, 30px);
    font-size: 2rem;
}

.comments {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 2rem;
}

/* Footer Section */
footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 120px;
    background: var(--primary-color);
    padding: 20px;
    place-items: center;
}

#subscribe{
    display: grid;
    grid: 30px / 200px 120px;
    font-size: 2rem;
    column-gap: 8px;
    align-items: center;
}

#subscribe > input{
    border-radius: 10px;
    padding-left: 8px;
    height: 30px;
    font-size: 1.3rem;
}

#subscribe > h4{
    border: 1px solid var(--secondary-color);
    display: inline;
    border-radius: 7px;
    padding: 5px;
    color: var(--white);
    background: var(--secondary-color);
    transition: 0.5s;
    text-align: center;
}

#subscribe > h4:hover{
    border: 1px solid var(--white);
    color: var(--secondary-color);
    background: var(--white);
    cursor: pointer;
}

#location{
    font-size: 2rem;
    line-height: 4rem;
    color: var(--white);
}

#security > ul > li {
    list-style: none;
}

#security>ul>li>a{
    text-decoration: none;
    outline: none;
    color: var(--white);
    transition: .5s;
    font-size: 2rem;
}

#security>ul>li>a:hover{
    color: var(--secondary-color);
    font-size: 2.3rem;
    font-weight: 600;
}

#copyright {
    font-size: 1.3rem;
    line-height: 2rem;
    color: var(--white);
}

#copyright > a {
    text-decoration: none;
    outline: none;
    color: var(--white);
    transition: .5s;
    font-size: 2rem;
}

#copyright > a:hover {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 600;
}


